html, body{
    /*background-color: #DEE9EF;*/
    box-sizing: border-box;
    font-size: 1.15em;

}

*, *:before, *:after {
  box-sizing: inherit;
}

.wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#content{
    background-color: rgba(0, 0, 0, 0.0);
    width: 100%;
    height: 100%;
}


/*i{
    font-size: 1em;
    color: #EBEFF4;
    transition: all 0.2s ease-in;
}

i:hover{
    color: rgba(0, 0, 0, 0.3);
    transition: all 0.2s ease-in;
}*/

button:hover{
    border: 1px solid rgba(0,0,0,.75);
    color: rgba(0,0,0,.75);
    transition: all 0.2s ease-in;
}

/*button:hover > i{
    color: rgba(0,0,0,.75);
    transition: all 0.2s ease-in;
}*/

button{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1em 0em;
    border-radius: 0.75em;
    border: 1px solid #EBEFF4;
    color: rgba(0,0,0,.70);
    min-width: 23em;
    background-color: rgba(0,0,0,0);
    font-size: 0.65em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    transition: all 0.2s ease-in;
}


h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(0, 0, 0, 0.8);
    margin: 0;
    padding-bottom:0.5em; 
}

h3{
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(0, 0, 0, 0.6);
    margin: 0;
    max-width: 15em;
    font-size: 0.95em;
    padding-bottom: 1.5em;
    font-weight: normal;
    line-height: 1.5em;   
}

.block-container {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 70vmin;
    border-bottom: 1px solid #EBEFF4;
    /*background-color:#EEF4FB;
    background-image: linear-gradient(0deg, #2A5281, #5183C1);*/
}



.block-content {
    width: 100%;
    background-color:rgba(0, 0, 0, 0.0);
    margin: 0em 10em;
    flex-direction: row;
    display:flex;
}

.left {
    display: flex;
    flex-direction: column;
    flex:1;
    justify-content: center;
}

.right {
    display: flex;
    flex-direction: column;
    flex:1;
    justify-content: center;
    align-items: center;
}

.right-image{
    width: 70vh;
}

.dude{
    height: 10em;
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
}





@media screen and (min-width: 64em) { 

}


@media screen and (min-width: 60em) and (max-width: 64em) { 
    .block-content { 
        margin: 0em 5em;
        flex-direction: column-reverse;
    } 

    .block-container {
        padding: 1em 0.25em;
        height: 100%;
    }
    .right-image{
        width: 100%;
    }
}


@media screen and (max-width: 60em) { 
    .block-content { 
        margin: 0em 1em;
        flex-direction: column-reverse;
    } 

    .block-container {
        padding: 1em 0.25em;
        height: 100%;
    }
    .right-image{
        width: 100%;
    }
}