html, body{
    /*background-color: #DEE9EF;*/
    box-sizing: border-box;
    font-size: 1.15em;

}

*, *:before, *:after {
  box-sizing: inherit;
}

img{
    width: 100%;
}

.wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#content{
    background-color: rgba(0, 0, 0, 0.0);
    width: 100%;
    height: 100%;
}

button{
    padding: 1em 0em;
    border-radius: 0.75em;
    border: 0.25em solid rgba(0, 0, 0, 0.5);
    max-width: 20em;
    background-color: rgba(0,0,0,0);
    font-size: 0.65em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}


h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(0, 0, 0, 0.5);
    margin: 0;
    padding-bottom:0.5em; 
}

h3{
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(0, 0, 0, 0.5);
    margin: 0;
    font-size: 1em;
    padding-bottom: 1em;
    font-weight: normal;
}

.block-container {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 70vmin;
    background-color:#EEF4FB;
    background-image: linear-gradient(0deg, #2A5281, #5183C1);
}



.block-content {
    width: 100%;
    background-color:rgba(0, 0, 0, 0.0);
    margin: 0em 5em;
    flex-direction: row;
    display:flex;
}

.left, 
.right{
    display: flex;
    flex-direction: column;
    flex:1;
    justify-content: center;
}

.dude{
    height: 10em;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.15);
}





@media screen and (min-width: 64em) { 
    .page-header {
        padding: 5rem 6rem;
    } 
}


@media screen and (min-width: 42em) and (max-width: 64em) { 
    .page-header { 
        padding: 3rem 4rem; 
    } 
}


@media screen and (max-width: 42em) { 
    .block-content { 
        margin: 0em 1em;
        flex-direction: column-reverse;
    } 

    .block-container {
        padding: 1em 0.25em;
        height: 100%;
    }
}